.elements {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 66px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .elements {
    margin-top: 36px;
    margin-bottom: 0;
    padding-left: 19px;
    padding-right: 19px;
  }
}
