.header {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
    padding-left: 27px;
    padding-bottom: 30px;
  }
}
