.profile__avatar-overlay {
  height: 120px;
  border-radius: 120px;
  width: 120px;
  flex-shrink: 0;
  position: relative;
}

.profile__avatar-overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/VectorAvatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.profile__avatar-overlay:hover::after {
  opacity: 1;
  cursor: pointer;
}
